#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.message-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  counter-reset: message;
}

.message {
  padding: 2rem;
  border-radius: 2.5rem;
  background-color: #333333;
  box-shadow: 0px 0px 0px 1px rgb(75 75 75);
  position: relative;
}

.message:before {
  content: counter(message);
  counter-increment: message;
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  color: #434343;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.message img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.message p {
  position: relative;
  white-space: pre-wrap;
  z-index: 2;
}
